
workflow/.DS_Store
workflow/envs/.DS_Store
workflow/rules/alpha_diversity.smk
workflow/rules/beta_diversity.smk
workflow/rules/betapart.smk
workflow/rules/DAtest.smk
workflow/rules/fastspar.smk
workflow/rules/make_tsv.smk
workflow/rules/patient_level_analysis.smk
workflow/rules/patient_level_DAtest.smk
workflow/possible docker file.txt
workflow/snakefile
workflow/rules/.DS_Store
.DS_Store
